table{
	font-family: "Microsoft YaHei";
}
thead{
	background-color: #000000;
}
thead th{
	color: #fff;
}
tbody tr:nth-child(even){
	background-color: #AAA;
}
tbody tr:nth-child(-n+3){
	color: red;
}

form {
	margin: 20px;
}
.inpt{
	width: 100px;
	transition: width 1s;
	-moz-transition: width 1s;
	-webkit-transition: width 1s;
	-o-transition: width 1s;
}
.inpt:focus{
	width: 200px;
}

.banner{
	width: 200px;
	height: 100px;
	overflow: hidden;
	position: relative;
}
.banner ul{
	margin: 0;
	padding: 0;
	width: 600px;
	height: 100px;
}
#slide li{
	width: 200px;
	height: 100px;
	display: inline-block;
	float: left;
    position: relative;
	animation:carousel 8s linear infinite;
	-moz-animation:carousel 8s linear infinite;
	-webkit-animation:carousel 8s linear infinite;
	-o-animation:carousel 8s linear infinite;
}
#content1{
	background-color: red;
}
#content2{
	background-color: yellow;
}
#content3{
	background-color: blue;
}

@keyframes carousel{
	0%  {left: 0;}
	10%,30%{left: -200px;}
	40%,60%{left: -400px;}
	70%,100%{left: 0;} 
}
@-moz-keyframes carousel{
    0%  {left: 0;}
	10%,30%{left: -200px;}
	40%,60%{left: -400px;}
	70%,100%{left: 0;} 
}
@-webkit-keyframes carousel{
    0%  {left: 0;}
	10%,30%{left: -200px;}
	40%,60%{left: -400px;}
	70%,100%{left: 0;} 
}
@-o-keyframes carousel{
    0%  {left: 0;}
	10%,30%{left: -200px;}
	40%,60%{left: -400px;}
	70%,100%{left: 0;} 
}
/*
#btn{
	width: 100px;
	height: 25px;
	position: absolute;
	float: right;
	bottom: 0;
	right: 0;
}
#btn li{
	width: 25px;
	height: 25px;
	background-color: #fff;
	opacity: 0.7;
	color: #000;
	list-style-type: none;
	display: inline-block;
	text-align: center;
	margin-right: 5px;
}
#btn li a{
	text-decoration: none;
}
*/