*{
	margin: 0;
	padding: 0;
}
body{
	background-color: rgba(0,0,0,0.8);
	color: #fff;
}
.main{
	max-width: 480px;
	max-height: 154px;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
h2{
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: normal;
}
.avatar{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	margin: 0 auto;
	background: url(../imgs/avatar.gif) no-repeat center center;
}
ul{
	list-style: none;
}
ul li{
	display: inline-block;
    font-size: 21px;
    padding-left: 20px;
    text-align: center;
}
a{
	text-decoration: none;
    color: #fff;
    display: block;
}
a:after{
	content: '';
    display: block;
    height: 2px;
    background-color: #fff;
    width: 0;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
}
a:hover:after{
    width: 100%;
}